@charset "UTF-8";

body {
    background: rgb(250, 248, 148);
    font: normal, 15pt, arial;
}

header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section{
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.295) ;
}
div#img{
    margin-bottom: 8px;
    margin-top: -4px;
}
div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    text-align: center;
    padding: 8px;
    
}

footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    font: bolder;
    margin: auto;
}
